root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 120
tab_width = 4
disabled_rules = no-wildcard-imports, import-ordering, comment-spacing

# 코드의 스타일 검사 후 자동으로 틀린 부분 수정
#ktlintFormat
# ./gradlew ktlintFormat

#git commit 진행할 때 자동으로 ktlintcheck를 하여 맞지 않는 경우 error 발생시킴
#pre-commit hook
#./gradlew addKtlintCheckGitPreCommitHook

#hook 삭제
#hook 경로로 이동 후 삭제
# EX) cd .git/hooks -> rm ./pre-commit
